#beerContainer {
    position: relative;
    height: 600px;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}
#rightList > li {
    background-color: #DCDBD2;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    float: left;
    position: relative;
    border: 5px solid white;
    list-style-type: none;
    align-items: center;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#leftSide {
    position: relative;
    float: left;
    margin-bottom: 20px;
}
#rightSide {
    position: fixed;
    margin-top: 55px;
    width: 260px;
    height: 320px;
    margin-left: 700px;
    background-color: #8B7CE4;
    overflow: auto;
    border: 5px solid #8B7CE4;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
}
span {
    width: 300px;
}
#payButton {
    width: 64px;
    height: 40px;
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}
input.search {
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#cost {
    position: fixed;
    margin-left: 700px;
    margin-top: 340px;
}
#add{
    background-color: #FFF;
    border: 0;
}
