#beerContainer {
    position: relative;
    height: 600px;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}
span {
    width: 300px;
}
#cost p {
    font-weight: bold;
}
#icon {
    cursor: pointer;
}
