#login {
  width: 300px;
  height: 200px;
  border: 6px solid black;
  border-radius: 8px;
  margin:0 auto;
  margin-top: 100px;
}

#username-wrapper {
  margin-top: 50px;
  /*margin:0 auto;*/
}

#password-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  /*margin:0 auto;*/
}

.login-imput {
  
}
