

#leftBox {
    position: fixed;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top:10px;
    margin-left: 100px;
    overflow: auto;
    min-height: 350px;
}
/*rightBox is in start.css*/
#paymentButton{
    width: 200px;
    height: 20px;
    padding: 25px;
    border-radius: 3px;
    line-height: 1px;
    background-color: green;
    /*text style*/
    text-align:center;
    color: white;
    font-style: italic;

    /*hover*/
    position: fixed;
    display: inline-block;
    margin-left: 280px;
    margin-top: 280px;
}
#cancel{
    font-family:"Verdana", Verdana, sans-serif ;
    color: #000000;
    text-decoration: underline;
    position: fixed;
    margin-left:40px;
    margin-top: 310px;
}





.Part1 {

    font-family: "AR DELANEY";
    font-size: 72px;
    color: #FFFFFF;
    margin-left: 150px;

}
/*#part0 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    width: 300px;
    border-radius: 25px;
    position: absolute;
}
*/
#credit{
    font-size: 26px;
    line-height: 300%;
    margin-left: 70px;
    margin-top: 20px ;
}

#finalCost{
    font-size: 26px;
    line-height: 300%;
    margin-left: 70px;
    margin-top: 10px ;
}




