

#leftBox {
    position: fixed;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top:10px;
    margin-left: 100px;
    overflow: auto;
    min-height: 350px;
}
/*rightBox is in start.css*/
#paymentButton{
    width: 200px;
    height: 20px;
    padding: 25px;
    border-radius: 3px;
    line-height: 1px;
    background-color: green;
    /*text style*/
    text-align:center;
    color: white;
    font-style: italic;

    /*hover*/
    position: fixed;
    display: inline-block;
    margin-left: 280px;
    margin-top: 280px;
}
#cancel{
    font-family:"Verdana", Verdana, sans-serif ;
    color: #000000;
    text-decoration: underline;
    position: fixed;
    margin-left:40px;
    margin-top: 310px;
}





.Part1 {

    font-family: "AR DELANEY";
    font-size: 72px;
    color: #FFFFFF;
    margin-left: 150px;

}
/*#part0 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    width: 300px;
    border-radius: 25px;
    position: absolute;
}
*/
#credit{
    font-size: 26px;
    line-height: 300%;
    margin-left: 70px;
    margin-top: 20px ;
}

#finalCost{
    font-size: 26px;
    line-height: 300%;
    margin-left: 70px;
    margin-top: 10px ;
}

/*common with setting*/
div#black_wrapper{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top:0;
}
div#confirm_editer{
	position: fixed;
	top: 20%;
	left: 25%;
	padding: 10px;
	width: 300px;
	min-height: 150px;
	text-align: center;
	background-color: #4EB1BA;
    overflow: auto;
    border: 5px solid #4EB1BA;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
}

.hidden{
	visibility: hidden;
	display: none;
}

.showing{
	visibility: visible;
	display: block;
}




