
#Payment{
    position: absolute;
    width: 100%;
    height: 600px;
}
.payCenter {
    height: 350px;
    margin-left: 360px;



}
.right-box{
    height: 500px;
    margin-left: 500px;

}
.Part1 {
    text-align: center;
    font-family: "AR DELANEY";
    font-size: 72px;
}
#part0 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
    width: 300px;
    border-radius: 25px;
    position: absolute;
}
#txt{
    font-family:"Segoe UI Black";
    font-size: 26px;
    line-height: 300%;
}

#rightSide {
    position: fixed;
    width: 260px;
    height: 320px;
    margin-left: 800px;
    background-color: #8B7CE4;
    overflow: auto;
    border: 5px solid #8B7CE4;
    border-radius: 5px;
}
span {
    width: 300px;
}
/*
.button {

    position:relative;
    width:200px;
    color:#FFF;
    display:block;
    text-decoration:none;
    margin:0 auto;
    border-radius:5px;
    border:solid 1px #261319;
    background: #261319;
    text-align:center;
    padding:20px 30px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0px 3px 0px #261319;
    -moz-box-shadow: 0px 3px 0px #261319;
    box-shadow: 0px 3px 0px #261319;

}

.button:active{

    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}
*/


/*#otxt{
    font-family:"AR BONNIE";
    font-size: 30px;
    text-align: center;
    font-style:normal;
    text-decoration:underline;

    position: fixed;
    width: 260px;
    height: 320px;
    margin-left: 700px;
    background-color: #8B7CE4;
    overflow: auto;
    border: 5px solid #8B7CE4;
    border-radius: 5px;
}*/

#CancelButton{
    width: 110px;
    height: 10px;
    padding: 25px;
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 400px;
    position: absolute;
    line-height: 1px;
    background-color: red;
    /*text styles*/
    text-align:center;
    color: white;
    font-style: italic;
    /*hover*/

}

#PaymentButton{
    width: 110px;
    height: 10px;
    padding: 25px;
    border-radius: 8px;
    margin-left: 300px;
    margin-top: 400px;
    position: absolute;
    line-height: 1px;
    background-color: green;
    /*text style*/
    text-align:center;
    color: white;
    font-style: italic;
    /*hover*/

}






