
#pam {
    text-align: center;
    color: blue;
    font-family: "Verdana", Verdana, sans-serif;
    line-height: 500px;
    font-size: 100px;
}

#upperLeft {
    color: red;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

