
#pam {
    text-align: center;
    color: blue;
    font-family: "Verdana", Verdana, sans-serif;
    line-height: 500px;
    font-size: 100px;
}

.upperLeft {
    display: block;
    background: red;
    margin-left: auto;
    margin-right: auto;
}

