#startContainer {
    position: relative;
    width: 100%;
    height: 600px;
}
#beerContainer {
    position: relative;
    height: 600px;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}
#upperLeft {
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 6px solid black;
    border-radius: 8px;
    margin-left: 400px;
    margin-top: 200px;
    position: absolute;
}
#upperRight {
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 6px solid black;
    border-radius: 8px;
    margin-left: 610px;
    margin-top: 200px;
    position: absolute;
}
#lowerLeft {
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 6px solid black;
    border-radius: 8px;
    margin-left: 400px;
    margin-top: 410px;
    position: absolute;
}
#lowerRight {
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 6px solid black;
    border-radius: 8px;
    margin-left: 610px;
    margin-top: 410px;
    position: absolute;
}
a:link {
    color: black;
}
a:active {
    color: black;
}
#footer {
    bottom: 0;
    width: 100%;
    height: 200px;
}
#leftList > li {
    background-color: #A7A2A8;
    display: flex;
    width: 600px;
    height: 50px;
    border-radius: 8px;
    position: relative;
    border: 5px solid white;
    list-style-type: none;
    align-items: center;
    padding: 5px;
}
#rightList > li {
    background-color: #A7A2A8;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    float: left;
    position: relative;
    border: 5px solid white;
    list-style-type: none;
    align-items: center;
    margin-left: 700px; 
    padding: 5px;
}
#leftSide {
    position: absolute;
}
#rightSide {
    position: absolute;
}
span {
    width: 300px;
}
